h1
{
        color: grey !important;
}
body
{
    background-color:cyan;
}
p
{

position:relative;
}
.one
{
    color: white;
}
#one-id
{
    color: greenyellow;
}
a
{
    color: red;
}
a:hover
{
    color: green;
}
a:visited
{
color: black;
}
div
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    color:blue;
    line-height:5px;
  text-align: justify;
}
td,th
{
border:solid 2px blue;
}
table
{
    border-collapse:collapse;
}